<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand navbar navbar-left" href="#">Wede Church</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="church">Church List </a></li>
        <li><a routerLink="users">User List</a></li>
        <li><a routerLink="v-user">Validated users</a></li>
        <li><a routerLink="v-Church">validated Church List</a></li>
      </ul>
      <!--<router-outlet></router-outlet>-->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">user list</a></li>
            <li><a href="#">logout</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <span>WedeChurch</span>
  </div>
</footer>

