<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Church List</div>

        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">
           MekaneEyesus
            <div class="material-switch pull-right">
              <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionDefault" class="label-default"></label>
            </div>
          </li>
          <li class="list-group-item">
            Kale-Hiwot
            <div class="material-switch pull-right">
              <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionPrimary" class="label-default"></label>
            </div>
          </li>
          <li class="list-group-item">
             MKC
            <div class="material-switch pull-right">
              <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionSuccess" class="label-default"></label>
            </div>
          </li>
          <li class="list-group-item">
            Mulu-wengel
            <div class="material-switch pull-right">
              <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionInfo" class="label-default"></label>
            </div>
          </li>
          <li class="list-group-item">
             Wengel Birhan
            <div class="material-switch pull-right">
              <input id="someSwitchOptionWarning" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionWarning" class="label-default"></label>
            </div>
          </li>
          <li class="list-group-item">
            JZKC
            <div class="material-switch pull-right">
              <input id="someSwitchOptionDanger" name="someSwitchOption001" type="checkbox"/>
              <label for="someSwitchOptionDanger" class="label-default"></label>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
